/bower_components
*.map
/node_modules
/projectFilesBackup
/.tscache/
/npm-debug.log
/build
/tscommand*
/dist
ext-vizels
*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.*proj
.vscode

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

web/
yarn-error.log
package-lock.json
yarn.loc
